html, body
{
    margin:0;
    background-color:#002346;
    height:100%;
}
*
{
    box-sizing: border-box;
}
@font-face {
    font-family: btHeadline;
    src: url(../../fonts/BreuerHeadline.ttf);
}
@font-face {
    font-family: btMain;
    src: url(../../fonts/BreuerFont.ttf);
}
@font-face {
    font-family: btBold;
    src: url(../../fonts/BreuerText-Bold.ttf);
}
@font-face {
    font-family: btObl;
    src: url(../../fonts/BreuerHeadline-Oblique.otf);
}
@font-face {
    font-family: btMed;
    src: url(../../fonts/BreuerText-Medium.ttf);
}
@font-face {
    font-family: btReg;
    src: url(../../fonts/BreuerText-Regular.otf);
}
.steps
{
    display:flex;
    transform: translateY(-30px);
}
.divider-1
{
    width:2px;
    background:linear-gradient(to top, transparent, #001549, transparent);
}
.divider-2
{
    width:2px;
    background:linear-gradient(to top, transparent, #0059ef, transparent);
}
.steps .step
{
    flex:1;
    display:flex;
    width:100%;
    height:100px;
    padding-left:10px;
    padding-right:10px;
}
.steps .step .info
{
    font-family: btBold;
    color:white;
    text-shadow:0px 0px 2px black;
    margin-left:10px;
    display:flex;
    align-items: center;
    font-size:20px;
}
.steps .step .num-cont
{
    aspect-ratio: 1/1;
}
.steps .step .num-cont .num-body
{
    height:100%;
    width:100%;
    border-radius:100%;
    position:relative;
}
.steps .step .num-cont .num-body .bg
{
    height:100%;
    width:100%;
    position:relative;
    animation-name: rotation;
    animation-duration: 1.5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}
.steps .step .num-cont .num-body .bg .glow-1
{
    height: 88%;
    width: 30px;
    position: absolute;
    top: 13%;
    background-color: white;
    box-shadow: 0px 0px 3px 5px white;
    left: 23%;
    transform: rotate(-31deg);
    border-radius: 100%;
}
.steps .step .num-cont .num-body .bg .glow-2
{
    height: 30px;
    width: 93%;
    position: absolute;
    top: 38%;
    background-color: white;
    box-shadow: 0px 0px 3px 5px white;
    left: 4%;
    transform: rotate(352deg);
    border-radius: 100%;
}
.steps .step .num-cont .num-body .bg .cover
{
    height:100%;
    width:100%;
    border:2px solid #bdc7d8;
    border-radius:100%;
    background-color:#00214d;
}
.steps .step .num-cont .num-body .num-main
{
    position:absolute;
    height:100%;
    width:100%;
    background-color:transparent;
    top:0;
    left:0;
    border-radius:100%;
    padding:2px;
}
.steps .step .num-cont .num-body .num-main .num-bg
{
    background: radial-gradient(#00214d 69%, transparent 71%);
    height: 100%;
    width: 100%;
    border-radius: 100%;
    padding:3px;
}
.steps .step .num-cont .num-body .num-main .num-bg .num
{
    background: #006fec;
    height:100%;
    width:100%;
    border-radius:100%;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: btHeadline;
}
.steps .step .num-cont .num-body .num-main .num-bg .num p
{
    font-size:80px;
    background-color: #002b69;
    color: transparent;
    text-shadow: 0px 0px 6px #00428a;
    -webkit-background-clip: text;
}
.steps .step .num-cont .num-body .num-main .num-bg .num .glow
{
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(white -14%, transparent 64%);
    border-radius: 100%;
    mix-blend-mode: overlay;
}
body
{
    display:flex;
    justify-content: center;
    background-image:linear-gradient(to bottom, transparent 70%, #002346), url("../../img/bg.png");
    background-size:cover;
    background-repeat:no-repeat;
}
.container
{
    width:1000px;
    background-color:transparent;
}
.header
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-top:30px;
}
.header .login-cont
{
    display:flex;
    font-family: btMain;
    cursor: pointer;
}
.header .login-cont .customer
{
    padding:5px;
    color:white;
    border:1px solid white;
    border-radius:3px;
    font-size:13px;
    padding-right:8px;
    text-decoration: underline;
    cursor: pointer;
}
.header .login-cont button
{
    background-color:#ffea00;
    border-radius:3px;
    border:0px;
    font-family: btHeadline;
    font-size: 20px;
    padding: 0px 8px;
    transform: translateX(-4px);
    cursor: pointer;
}
.header .login-cont button p
{
    margin:0;
    background-color: #9c7200;
    color: transparent;
    text-shadow: 0px 0px 1px #c08c00;
    -webkit-background-clip: text;
}
.main-body
{
    position:relative;
}
.main-body img
{
    width:100%;
}
.main-body .form
{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20.4%;
}
.main-body .form .form-head
{
    background-color:#ffe900;
    height:20px;
    font-family: btBold;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left:10px;
    padding-right:10px;
    clip-path: polygon(7% 0%, 93% 0%, 100% 50%, 93% 100%, 7% 100%, 0% 50%);
    box-shadow:0px 0px 3px black;
}
.main-body .form .form-head p
{
    margin:0;
    background: -webkit-linear-gradient(#0058ba, #004798);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
    font-size: 14px;
}
.form .text-white, .form .text-large, .form .text-xl
{
    font-family:btObl;
    text-shadow:0px 0px 2px rgba(0,0,0,0.5);
    text-align:center;
    
}
.form .text-white
{
    color: white;
    font-size:20px;
    margin-top:3px;
}
.form .text-large
{
    color:#ffe400;
    font-size: 38px;
    line-height: 0.85;
}
.form .text-xl
{
    color:#ffe400;
    font-size: 75px;
    line-height: 0.75;
}
.form .text-small
{
    font-family:btMed;
    color:white;
    text-align:center;
    font-size:12px;
    line-height: 2;
}
.form input
{
    padding: 5px 9px;
    font-family: btReg;
    font-size:16px;
}
.form input::placeholder
{
    color:#777777;
}
input:focus{
    outline: none;
}
.bet-now
{
    border:1.5px solid #ea4632;
    border-radius:10px;
    padding:1.5px;
    background-color:#ffcf00;
    margin-top:10px;
    width:190px;
    cursor: pointer;
    height:35px;
}
.bet-now button
{
    height:100%;
    cursor: pointer;
    border:1.5px solid #77bc20;
    border-radius: 7px;
    font-family:btBold;
    font-style: italic;
    color:white;
    padding:0px;
    width:100%;
    font-size:16px;
    text-shadow:0px 0px 1px black;
    background:linear-gradient( to left, #24204b, #65ade0, #24204b);
    overflow:hidden;
    position:relative;
}
.bet-now button .bg
{
    height:100%;
    width:100%;
    background:linear-gradient( to left, #65ade0, #24204b, #65ade0);
    opacity:0;
    transition:0.2s;
}
.bet-now:hover button .bg
{
    opacity:1;
}
.bet-now .text
{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer
{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    color:white;
    gap:25px;
    padding-bottom:25px;
}
.footer .about
{
    display:flex;
    gap:7px;
}
.footer .about .arrow
{
    transform: rotate(-90deg);
    transition:0.2s;
}
.footer .about.open .arrow
{
    transform: rotate(0deg);
}
.footer-bottom
{
    font-size:12px;
    display:flex;
    gap:5px;
}
.footer-bottom div
{
    cursor: pointer;
}
.coral-redirect
{
    cursor: pointer;
}
.about-full
{
    overflow:hidden;
    max-height:0px;
    width:100%;
    background-color:#001f3f;
    transition:0.5s;
    padding: 0px 20px;
}
.about-full.open
{
    max-height:1000px;
    padding:20px 20px;
}
.about-full h1
{
    margin-top:0px;
}
.modal
{
    opacity:0;
    pointer-events: none;
    position: fixed;
    z-index: 1;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.5);
    display:flex;
    justify-content: center;
    padding:100px 0px;
    overflow-y:scroll;
    transition:0.2s;
}
.modal.open
{
    opacity:1;
    pointer-events:auto;
}
.modal .modal-body
{
    width:600px;
}
.modal .modal-body .modal-header
{
    background-color:#007fdd;
    height:30px;
    width:100%;
    border-left:1px solid #003268;
    border-top:1px solid #003268;
    border-right:1px solid #003268;
    border-radius:5px 5px 0px 0px;
    padding-top:1px;
    padding-left:1px;
    display:flex;
    gap:1px;
}
.modal .modal-body .modal-header div
{
    background:linear-gradient(to bottom, #005abc, #004697);
}
.modal .modal-body .modal-header .i-cont
{
    aspect-ratio: 1/1;
    border-radius:3px 0px 0px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal .modal-body .modal-header .modal-main-header
{
    border-radius:0px 3px 0px 0px;
    flex:1;
    font-family: Arial;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:10px;
}
.modal .modal-body .modal-header .modal-main-header button
{
    border:0px;
    background-color:transparent;
    margin-right:5px;
    cursor: pointer;
}
.modal .modal-body .modal-main
{
    background-color:white;
    border-radius:0px 0px 3px 3px;
    padding:15px;
    font-family: 'Arial';
    font-size:12px;
    border-left:1px solid #a9a9aa;
    border-bottom:1px solid #a9a9aa;
    border-right:1px solid #a9a9aa;
}
.modal .pad
{
    height:100px;
    width:100%;
}
.email-validate.red
{
    color:red;
}
.email-validate.green
{
    color:green;
}
.email-validate
{
    height:5px;
    font-size:12px;
}
@keyframes rotation{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}